altair==5.5.0
pandas==2.3.2
numpy==2.3.2
pyarrow==21.0.0
pillow==11.3.0
streamlit==1.48.1
supabase==2.18.1
supabase_auth==2.12.3
supabase_functions==0.10.1
postgrest==1.1.1
realtime==2.7.0
storage3==0.12.1
python-dotenv==1.1.1
requests==2.32.5
